{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Currency creation</h1>

    <form action="{{ path('currency_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-primary" data-loading-text="Loading...">{% trans%}Create{%endtrans%}</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('currency') }}">
            {% trans%}Back to the list{%endtrans%}
        </a>
    </li>
</ul>
{% endblock %}
